<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.moonbae.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>com.moonbae.servlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.moonbae.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRecordServlet</servlet-name>
        <servlet-class>com.moonbae.servlet.EditRecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrackingServlet</servlet-name>
        <servlet-class>com.moonbae.servlet.TrackingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrackingServlet</servlet-name>
        <url-pattern>/tracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackingServlet</servlet-name>
        <url-pattern>/TrackingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditRecordServlet</servlet-name>
        <servlet-class>com.moonbae.servlet.EditRecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditRecordServlet</servlet-name>
        <url-pattern>/edit-log</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
